<div class="weather-logo">
  <a routerLink="/landing-page">
    <app-logo></app-logo>
  </a>
</div>

<div>
  <!--  TODO: Add space between logo and form -->
  <form [formGroup]="weatherForm" class="input-form">
    <div class="slider-input">
      <mat-form-field appearance="fill">

        <mat-label>Latitude</mat-label>
        <input
          formControlName="latitude"
          matInput
          placeholder="Latitude"
          type="number" />
        <mat-error *ngIf="weatherForm.get('latitude')?.hasError('min')|| weatherForm.get('latitude')?.hasError('max')">
          Not in range
        </mat-error>
        <!--  TODO requared error msg-->
      </mat-form-field>
    </div>
    <div class="slider-input">
      <mat-form-field appearance="fill">
        <mat-label>Latitude</mat-label>
        <input
          formControlName="longitude"
          matInput
          placeholder="Latitude"
          type="number" />
        <mat-error
          *ngIf="weatherForm.get('longitude')?.hasError('min')|| weatherForm.get('longitude')?.hasError('max')">
          Not in range
        </mat-error>
        <!--  TODO requared error msg-->
      </mat-form-field>
    </div>
  </form>
</div>
<div>
  <!--  TODO: Add spinner loader when data is loading -->
  <div>
    <mat-button-toggle (click)="getWeather()">Check the forecast</mat-button-toggle>
  </div>
  <div *ngIf="dataSource.length">
    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="Time">
        <th mat-header-cell *matHeaderCellDef> Time</th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <ng-container matColumnDef="Temperature">
        <th mat-header-cell *matHeaderCellDef> Temperature</th>
        <td mat-cell *matCellDef="let element"> {{element.temperature}} </td>
      </ng-container>

      <ng-container matColumnDef="Humidity">
        <th mat-header-cell *matHeaderCellDef> Humidity</th>
        <td mat-cell *matCellDef="let element"> {{element.humidity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
